.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
}

.header {
  width: 100%;
  height: 10vh;
  background-color: rgb(63, 63, 63);
  color: white;
  text-align: center;
}
.main{
  margin: auto;
}
.card {
  border: 2px solid black;
  border-radius: .5em;
  background-color: lightgrey;
  width: 40em;
  height: 20vh;
  margin: 10px;
  padding: 10px;
}
.general {
}
.genForm {
  display: grid;
  grid-template-columns: 20% 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 12px;
  padding: auto;
}
label {
  text-align: right;
  grid-column: 1 / 2;
}
input, button {
  grid-column: 2 / 3;
}